.banner_container {
  position: relative;
  height: 223px;
}

@media screen and (max-width: 900px) {
  .banner_container {
    height: 111px;
    margin-bottom: 60px;
  }
}

.imgBG {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 25px;
}
@media screen and (max-width: 900px) {
  .imgBG {
    border-radius: 13px;
  }
}

.maskBG {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.banner_text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  color: white;
  z-index: 10;
  margin: 0 0.2rem;
  font-weight: 500;
  font-size: 48px;
  text-align: center;
}
@media screen and (max-width: 900px) {
  p {
   font-size: 24px;
   text-align: left;
  }
}


  /*Phrase OUPS version mobile*/
  .banner_text_mobile {
    display: none;
    }
    /*Phrase OUPS version ordi*/
    .banner_text_desktop {
    display: flex;
    }
     
     
    @media screen and (max-width: 900px) {

    .banner_text_mobile {
    display: flex;
    }
    .banner_text_desktop {
    display: none;
    }
    }