.card_container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 335px;
  height: 255px;
  border-radius: 10px;
}

/*Rendu dynamique au survol des cartes*/
.card_container:hover {
  transform: scale(1.05);
  transition: 0.3s all ease-in-out;
  box-shadow: 0px 10px 20px 5px rgba(158, 16, 16, 0.5);
}

/*grand Bloc gris carte aves toutes les images*/
.display_card {
  display: flex;
  flex-wrap: wrap;
  background-color: #f7f7f7;
  padding: 30px;
  margin-top: 90px;
  border-radius: 25px;
  width: 100%;
  gap: 10rem;
  margin: 30px;
}

.img_container {
  height: 100%; 
  width: 100%; 
  border-radius: 10px;
}

.img_container img {
  height: 100%;/* dimensions des images*/
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

h3 {
  position: absolute;
  left: 20px;
  bottom: -15px;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  margin-left: 35px;
}
