.display_collapses {
  margin-bottom: 30px;
  margin-top: 30px;
}

.collapse {
  margin-left: 100px; 
  margin-right: 100px;
  background: #ff6060;
  border-radius: 15px;
}
  @media screen and (max-width: 900px) {
  .collapse { 
    margin :unset ;
    max-width: 1023px;
    border-radius: 10px;
  }
}

.collapse_visible {
  background: #ff6060;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: 30px;
  height: 47px;
  @media screen and (min-width: 900px) {
    height: 47px;
    padding: 6px 18px;
    border-radius: 10px;
  }
}


.collapse_visible h3 {
  color: white;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  bottom: auto;
  left: unset;
  @media screen and (min-width: 900px) {
    font-size: 24px;
    line-height: 34px;
  }
}

.svg-inline--fa {
height: 1.5em;
color:white;
}

.collapse_toggle {
  font-size: 24px;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, height 0.3s 0.3s ease-in-out;
}

.collapse_toggle ul {
  padding: 22px 15px;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  @media screen and (min-width: 900px) {
    padding: 22px 30px;
    font-size: 18px;
    line-height: 26px;
  }
}

.animated {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  opacity: 1;
  transition: height 0.3s ease-in-out, opacity 0.3s 0.3s ease-in-out;
}


.collapse_toggle p {
  display: flex;
  text-align: left;
  padding: 22px 15px;
  margin: 0;
  pointer-events: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #ff6060;
  @media screen and (min-width: 900px) {
    padding: 22px 30px;
    font-size: 18px;
    line-height: 26px;
  }
}
