.slider {
  height: 415px;
  border-radius: 25px;
  margin-top: 1%;
}

.slider_image {
  object-fit: cover;
  width: 100%;
}

.tags {
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: 20px;
  height: 28px;
  background: #ff6060;
  border-radius: 10px;
  font-style: normal;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 222.6%;
  text-align: center;
}

.property_title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 142.6%;
  color: #ff6060;
  text-align: left;
}

.property_description_header {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  color: #ff6060;
  margin-top: 0;
}

.property_description .collapse_visible {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 0px;
  border-radius: 15px;
  transform: translateY(10px);
}
.property_description_header {
  text-align: left;
  margin-bottom: 2rem;
}
.collapse {
  background: none;
  border-radius: 15px;
}

.collapse_visible {
  margin: 0;
}

.property_header {
  margin-top: 2%;
  display: flex;
  margin-bottom: 1%;
}

.host_name p {
  color: #ff6060;
  font-size: 18px;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: right;
}

.host_name {
  height: 100%;
  align-self: center;
}

.property_host_and_rate {
  display: grid;
  margin-left: auto;
}

.property_host_and_rate div {
  margin-left: auto;
  height: 50%;
  display: inline-block;
}

.host_picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.star {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  display: inline-block;
}

/*Marges des blocs description et equipements*/
.collapse p ul li {
  margin: auto;
}

.collapse {
  width: 100%;
}

.property_description .collapse_visible h3 {
  line-height: 4px;
  font-size: 18px;
}

.property_description .collapse_icon {
  margin-top: 7px;
}

.property_description {
  display: flex;
  margin-top: 30px;
  margin-bottom: 3%;
  gap: 5rem;
}

.property_description .collapse_toggle p {
  margin-left: 20px;
  line-height: 25px;
  font-size: 18px;
}

.property_description .animated {
  display: block;
  /* height: unset; */
}
/*texte liste dans equipenemnt*/
.property_description .collapse_toggle ul {
  display: flex;
  flex-direction: column;
  color: #ff6060;
  font-size: 18px;
  line-height: 25px;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination-fraction {
  color: white;
  font-weight: bolder;
  font-size: 18px;
}

/* Responsive tab */
@media all and (max-width: 992px) {
  .property_description .collapse {
    height: unset;
  }
  .property_header {
    display: unset;
  }
}

/* Responsive petits ecrans */
@media all and (max-width: 539px) {
  .slider_image {
    width: 100%;
    height: 255px;
  }
  .slider {
    height: unset;
  }
  .property_host_and_rate {
    display: flex;
    justify-content: none;
    flex-direction: row-reverse;
    gap: 4.7em;
    margin-top: 20px;
  }

  .property_title {
    font-size: 18px;
  }
  .property_header {
    display: block;
  }
  .property_description {
    display: unset;
  }
  .property_description_header {
    font-size: 14px; /*sous titre en dessous de limage*/
    margin-bottom: 0;
    margin-left: 0;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 18px;
  }

  .swiper-pagination-fraction {
    display: none;
  }
  .tags {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 10px;
    line-height: 352.6%;
    margin-right: unset;
    height: 35px;
  }
  .property_description .collapse_visible h3 {
    font-size: 13px;
    line-height: 5px;
  }
  .property_description .collapse_toggle p {
    font-size: 12px;
    line-height: 17px;
    text-align: left;
    margin-left: unset;
  }
  .property_description .collapse_visible {
    height: 29px;
  }
  .property_description .collapse_icon {
    font-size: 14px;
  }
  .property_description .collapse_toggle ul {
    display: flex;
    flex-direction: column;
    color: #ff6060;
    text-align: left;
    margin-left: -15px;
    font-size: 12px;
    line-height: 17px;
  }
  .property_description .animated {
    display: block;
    height: unset;
  }
  .host_name p {
    font-size: 12px;
  }
  .star {
    margin-top: 10px;
    width: 17px;
    height: 17px;
  }
  .host_picture {
    width: 34px;
    height: 34px;
  }
  .property_host_and_rate {
    gap: 7.5rem;
  }
}

@media all and (max-width: 400px) {
  .tags {
    padding-left: 9px;
    padding-right: 9px;
  }
  .property_host_and_rate {
    gap: 5.5rem;
  }
}
@media all and (max-width: 360px) {
  .property_host_and_rate {
    gap: 4.5rem;
  }
}

@media all and (max-width: 290px) {
  .tags {
    margin-top: 10px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 8px;
    line-height: 322.6%;
  }
  .property_title {
    font-size: 14px;
  }
  .property_description_header {
    font-size: 12px;
    margin-left: 4px;
  }
  .star {
    margin-top: 12px;
    width: 12px;
    height: 12px;
    margin-left: 0px;
  }
  .property_host_and_rate {
    gap: 3rem;
  }
}
