.slider {
  height: 415px;
  border-radius: 25px;
  margin-top: 1%;
}

.slider_image {
  object-fit: cover;
  width: 100%;
}

.tags {
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: 20px;
  height: 28px;
  background: #ff6060;
  border-radius: 10px;
  font-style: normal;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 222.6%;
  text-align: center;
}

.property_title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 142.6%;
  color: #ff6060;
  margin-bottom: 0;
  margin-top: 0;
}

.property_description_header {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  color: #ff6060;
  margin-top: 0;
}

.property_description_header {
  text-align: left;
  margin-bottom: 2rem;
}

.property_header {
  margin-top: 2%;
  display: flex;
  margin-bottom: 1%;
}

.host_name p {
  text-align: right;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.host_name {
  height: 100%;
  align-self: center;
}

.property_host_and_rate {
  display: grid;
  margin-left: auto;
  
}

.property_host_and_rate div {
  margin-left: auto;
  height: 50%;
  display:inline-block;
}

.host_picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.star {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  display: inline-block;
}

/*Marges des blocs description et equipements*/
.collapse p ul li {
  margin: auto;
}

.collapse{
  width:100%;
}

.property_description .collapse_visible h3 {
  line-height: 4px;
}

.property_description .collapse_icon {
  margin-top: 17px;
}

.property_description {
  display: flex;
  margin-top: 30px;
  margin-bottom: 3%;
  gap: 5rem;
}
/* .collapse_toggle ul {
  color : #ff6060;
  font-size: 24px;
} */

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination-fraction {
  color: white;
  font-weight: bolder;
  font-size: 18px;
}

/* Responsive Tablette */
@media all and (max-width: 400px) {
  .slider_image {
    width: 100%;
    height: 255px;
  }
  .slider {
    height: unset;
  }
  .property_title {
    font-size: 18px;
  }
  .property_header {
    display: block;
  }
  .property_description {
    display: unset;
  }
  .property_description_header {
    font-size: 14px;/*sous titre en dessous de limage*/
    margin-bottom: 0;
    margin-left: 0;
  }
  .tags {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 10px;
  }
  .property_description .collapse_visible h3 {
    font-size: 13px;
    line-height: 35px;
  }
  .property_description .collapse_toggle p {
    font-size: 12px;
    line-height: 17px;
    text-align: left;
  }
  .property_description .collapse_visible {
    height: 29px;
    width: 300px;
  }
  .property_description .collapse_icon {
    font-size: 14px;
  }
  .property_description .collapse_toggle ul{
    display: flex;
    flex-direction: column;
    color: #ff6060;
    text-align: left;
    margin-left: -15px;
  }
  
  .property_description .animated {
    display: block;
    height: unset;
  }

  .property_header p {
    margin: unset;
  }
}
