* {
  box-sizing: border-box;
  margin: 10px;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 47px;

  @media screen and (min-width: 500px) {
    height: 55px;
  }

  @media screen and (min-width: 900px) {
    height: 70px;
  }
}

/*Logo Kasa*/
img {
  height: 100%;
}

nav {
  align-items: center;
  margin-left: auto;
  height: 100%;
  width: 350px;
  font-size: 12px;
  text-transform: uppercase;
  @media screen and (min-width: 400px) {
    width: 180px;
    font-size: 16px;
  }
  @media screen and (min-width: 500px) {
    width: 230px;
    font-size: 18px;
  }
  @media screen and (min-width: 900px) {
    font-size: 24px;
    width: 309px;
    text-transform: capitalize;
  }
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 17px;
  font-size: 22px;
  text-transform: capitalize;
}

li {
  width: 35%;
  list-style-type: none;
}


a {
  text-decoration: none;
  color: red;
  font-family: "Roboto, sans-serif";
}


.active {
  position: relative;
  content: "";
  height: 1px; /*position du menu par rapport au logo*/
  width: 0;
  left: 80%;/*accueil à droite*/
}

/*Menu est souligné quand on est sur la page d'accueil ou a propos*/
.active:hover {
  border-bottom: 2px solid red;
}

.about_navbar:hover {
  border-bottom: 2px solid red;
}