/*Bloc 404 + phrase OUPS */
.not_found_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
   
  /*404*/
  .not_found_main h1 {
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: #ff6060;
  font-size: 288px;
  line-height: 0%;
   
  }
   
  /*Phrase OUPS parametres*/
  .not_found_main {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ff6060;
  font-weight: 500;
  font-size: 36px;
  }
   
  /*Phrase OUPS version mobile*/
  .NotFound_mobile {
  display: none;
  }
  /*Phrase OUPS version ordi*/
  .NotFound_desktop {
  display: block;
  font-size: 36px;
  }
   
   
   
   
  @media screen and (max-width: 900px) {
  .NotFound_mobile {
  display: block;
  font-size: 18px;
  }
  .NotFound_desktop {
  display: none;
  }
   
  .not_found_main h1 {
  font-size: 96px;
  }
  }
   
   
   
   
   
  /*Lien retrouner à la page d'accueil*/
  .back_link {
  font-weight: 500;
  line-height: 220px;
  font-size: 18px;
   
  }